
/* mobile-responsive */
@media screen and (max-width:576px) {
    /* nav section */
    nav{
        flex-direction: column;
        justify-content: center;
    }
    nav ul{
        flex-direction: column;
    }

    /* quick-list-section */
    .quick-list-container{
        flex-direction: column;
    }

    .quick-list-container .team-member-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick-list-container .team-member-img, .quick-list-container .quick-list-part{
        width: 90%;
        margin: 0 auto;
    }
       
    /* featuer-section */
    .featuer-section-container{
        flex-direction: column;
    }
    
    .featuer-section-container>div #experience-box{
        bottom: -40px;
        top:105%;
        left: 30%;
        height: 100px;

    }
    .some-facts-section{
        margin-top: 150px;
    }
    

    .featuer-section-container >div{
        width: 90%;
    }
     /*-----------------
     logo-container
     -------------------- */ 
    .logo-container{
        flex-direction: column;
    }
    .logo-container img{
        display: block;
        margin: 5px auto;
    }
    /* ----------------------
            identity-container-start
        -------------------------- */
        .product-container{
            flex-direction: column;
            margin: 0 auto;
        }
}




@media screen and (min-width:577px) and (max-width:768px) {
     .logo-container{
        gap: 20px;
        flex-wrap: wrap;
    }
    
}